/* =====================
   Variables
===================== */
:root{
  --back-main:#dedede;
  --main:#252f47;
}

/* =====================
   Toggle Button
===================== */
#chat-toggle{
  position: fixed;
  bottom: 35px;
  right: 35px;
  width: 55px;
  height: 55px;
  background: var(--main);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
}

/* =====================
   Chat Widget
===================== */
#chat-widget{
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 393px;
  height: 72dvh;
  background: #fff;
  display: none;
  flex-direction: column;
  border-radius: 15px 15px 15px 15px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,.3);
  z-index: 1001;
}

/* =====================
   Header
===================== */
#chat-header{
  height: 70px;
  flex-shrink: 0;
  background: var(--main);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  flex-direction: row-reverse;
  border-radius: 12px 12px 0px 0px;
}
#chat-header .chat-header-main{
  display: flex;
  flex-direction: row-reverse;
}
#chat-header img{
  width: 42px;
  height: 42px;
  border-radius: 50%;
}
#close-chat{
  width: 27px;
  height: 27px;
  border-radius: 17px;
  padding: 4px;
  font-weight: bold;
}

#chat-header .chat-header-main{
  display: flex;
  flex-direction: row-reverse;
}
#chat-header .chat-header-main div h2{
  text-align: end;
  font-family: "Almarai", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 17px;
  color: var(--main_color);
}
#chat-header .chat-header-main div h3{
  text-align: end;
  font-family: "Almarai", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  color: #cbcbcb;
  margin-top: 4px;
}

#chat-header .chat-header-main div{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#chat-header img{
  width: 46px;
  border: 1px solid rgb(219 219 219);
  border-radius: 88px;
  padding: 3px;
  height: 46px;
}
/* =====================
   Sections (Flex Core)
===================== */
.chat-all,
.chat-acient,
.chat-pivet{
  flex: 1;
  display: none;
  flex-direction: column;
  overflow: hidden;
}

.show{display:flex;}
.hide{display:none;}

/* =====================
   Chat Body
===================== */
#chat-body{
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background: var(--back-main);
}
/* Messages */
.bot,
.user{
  max-width: 75%;
  padding: 8px 12px;
  border-radius: 15px;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 20px;
   font-size: 13px;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  direction: rtl;
  width: fit-content;
}

.bot{
  background: #fff;
}

.user{
  background: var(--main);
  color: #fff;
  margin-left: auto;
  width: fit-content;
}

/* =====================
   Options
===================== */
#chat-options{
  flex-shrink: 0;
  background: var(--back-main);
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.option{
  width: calc(50% - 3px);
  height: 36px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 6px;
  cursor: pointer;
  cursor: pointer;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}

/* =====================
   Input
===================== */
#chat-input{
  flex-shrink: 0;
  display: flex;
  background: var(--back-main);
  padding: 10px;
  flex-direction: row-reverse;
}

#chat-input input{
  flex: 1;
  border: none;
  padding: 10px;
  border-radius: 0 8px 8px 0;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  direction: rtl;
}

#chat-input button{
  width: 45px;
  border: none;
  background: var(--main);
  color: #fff;
  border-radius: 8px 0 0 8px;
}

/* =====================
   Old Chats
===================== */
#old-chats{
  flex: 1;
  overflow-y: auto;
  background: #f7f7f7;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.old-chat {
  display: flex;
  justify-content: space-between;
  padding: 9px 10px;
  font-size: 13px;
  width: 95%;
  border-radius: 10px;
  background: #e9e9e9;
  margin-top: 10px;
  align-items: center;
}
.old-chat span {
  cursor: pointer;
  color: #0e68af;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
.old-chat .delete-chat i{
  color: #b70000;
  font-size: 14px;
}
.old-chat img {
  width: 40px;
  border: 1px solid #adadad;
  border-radius: 50%;
  padding: 5px;
  height: 40px;
}

/* =====================
   Privacy
===================== */
.chat-pivet{
  padding: 10px;
  overflow-y: auto;
}
.chat-pivet .section{
  direction: rtl ;
  margin: 17px 0px;
}
.chat-pivet .section h1{
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  font-size: 19px;
  margin-bottom: 10px;
}
.chat-pivet .section p{
  line-height: 24px;
  direction: rtl;
  margin-bottom: 10px;
  color: black;
  font-size: 16px;
}
.chat-pivet .section p span,
.chat-pivet .section ul li span,
.chat-pivet .section ul span{
        color: #0f8d26;
}
.chat-pivet .section ul li,
.chat-pivet .section ul,
.chat-pivet .section p span,
.chat-pivet .section p,
.chat-pivet .section ul li span,
.chat-pivet .section ul span{
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.chat-pivet .section ul li {
  line-height: 21px;
  padding: 5px 11px;
}

/* =====================
   Bottom Navigation
===================== */
.sect{
  height: 75px;
  flex-shrink: 0;
  display: flex;
  border-top: 1px solid #ddd;
  background: #fff;
  box-shadow: 0px -9px 15px -16px black;
}

.sect div{
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding-top: 6px;
  padding: 15px 4px;
}
.sect div h1{
  font-size: 15px;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  margin-top: 6px;
  color: rgb(73, 73, 73);
}
.sect div p i{
  font-size: 18px;
  color: rgb(73, 73, 73);
}
.sect div.active h1,
.sect div.active i{
  color: #0e68af;
}

/*===============
 Anumation
*/
.typing {
  background: #ffffff;
  padding: 12px 14px;
  border-radius: 18px;
  margin-bottom: 8px;
  display: flex;
  width: fit-content;
  height: 16px;
  align-items: center;
}

.typing span {
  background: #0156c5;
  height: 5px;
  width: 5px;
  margin: 1.5px;
  border-radius: 24px;
  animation: blink 1.4s infinite both;

}

.typing span:nth-child(2){
  animation-delay:.2s;
  margin: 0px 4px;
}
.typing span:nth-child(3){
  animation-delay:.4s
}

@keyframes blink {
  0%{opacity:.2}
  20%{opacity:1}
  100%{opacity:.2}
}

/*=====================
  Trash
======================*/
/* زر الحذف */
#trash-zone {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background: red;
  color: #fff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  box-shadow: 0 0 15px red;
  z-index: 9998;
}
#chat-toggle.hide {
  transform: scale(0.3);
  opacity: 0;
  position: fixed;
  touch-action: none; 
}
body.dragging {
  overflow: hidden;
  touch-action: none;
}
#trash-zone {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 70px;
  background: red;
  color: #fff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  box-shadow: 0 0 15px red;
}

/* =====================
   Mobile
===================== */
@media (max-width:500px){
#chat-widget {
  width: 100%;
  right: 0;
  border-radius: 0;
  height: 100vh;
  bottom: 0px;
}
#chat-header {
  border-radius: 0px 0px 0px 0px;
}

}
