#bidImg {
  transition: transform 0.4s ease, opacity 0.4s ease;
  cursor: grab;
  user-select: none;
  max-width: 100%;
  display: block;
}

.slide-out {
  transform: translateX(-100%) scale(0.9);
  opacity: 0;
}

.slide-in {
  transform: translateX(100%) scale(0.9);
  opacity: 0;
}

video{
  border-radius: 5px;
}
.item_detail .details_item .nono{
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 42px;
  color: white;
  height: 84px;
  text-shadow: 1px 3px 0px black;
}


.item_detail .details_item .nono {
  animation: pulse 2s infinite ease-in-out;
  /* 
    2s = مدة الدورة الكاملة للـ animation
    infinite = يتكرر إلى ما لا نهاية
    ease-in-out = يبدأ ببطء ثم يسرع ثم يبطئ
  */
}

@keyframes pulse {
  0% {
      transform: scale(1); /* الحجم الأصلي */
  }
  50% {
      transform: scale(1.1); /* يكبر بنسبة 10% */
  }
  100% {
      transform: scale(1); /* يعود إلى الحجم الأصلي */
  }
}


header .top_header .search_box input{
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
}
hr{
    margin: 30px 0px;
    border: navajowhite;
    height: 1.3px;
    background: #d5d5d5;
}
.big_img img {
  transition: all 0.5s ease; 
}
/* <h4>السعر الموجود في الفيديو منتهي صلاحيته</h4> */

 #overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    flex-direction:column
  }

  #myVideo {
    max-width: 90vw;
    max-height: 80vh;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }

  #cartBtn {
    margin: 0px 8px;
    padding: 13px 29px;
    font-size: 14px;
    cursor: pointer;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
  }

.item_detail{
    background-color: #fff;
    padding: 30px 0;
    direction: rtl;
}
.item_detail .container{ 
     display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
.item_detail .img_item{
      width: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: 35px;
}
.item_detail .img_item .big_img img{
    width: 80%;
    border-radius: 3px;
    box-shadow: 5px 8px 8px #d1d1d1;
    filter: saturate(1.8);
}
.item_detail .img_item .sm_imgs{
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow-x: scroll;
    flex-direction: column;
    width: 122px;
    /* background: aquamarine; */
    overflow-x: hidden;
    overflow-y: scroll;
    direction: ltr;
    margin-left: 11px;
}
.item_detail .img_item .sm_imgs img{
width: fit-content;
    border: 3px solid rgb(235 233 233);
    border-radius: 9px;
    height: 134px;
    margin-left: 2px;
    padding: 3px;
    filter: saturate(1.8);
    background: #eeeeee;
    margin-bottom: 10px;
}
.item_detail .details_item{
    width: 55%;
}
.price .old_price {
    text-decoration: line-through;
    font-size: 14px;
    font-weight: normal;
    background: #ffebeb;
    color: #ff6564;
    padding: 8px 10px;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    border-radius: 30px;
}
.item_detail .details_item h1{
  margin-bottom: 13px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  line-height: 42px;
  color: #121212;
  font-size: 28px;
}
.item_detail .details_item h6{
font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    color: #7b7b7b;
}

.price p span {
          font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
}
.price p span span {
    color: green;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 38px;

}
.detils{
    margin-top: 30px;
}
.detils h2{
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  margin-bottom: 7px;
  font-size: 26px;
}
.item_detail .details_item h5{
    margin-bottom: -2px;
    font-size: 22px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    color: #43439b;
    padding: 8px 10px;
    border-radius: 10px;
}
h5 span{
  color: #393939;
  font-family: "Readex Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  font-size: 22px;
}
.price p {
    direction: ltr;
}
.item_detail .details_item .price{
    justify-content: start;
    margin: 20px 0;
    gap: 15px;
    display: flex;
    align-items: flex-end;
}
.item_detail .details_item .price p{
    font-size: 17px;
}

.item_detail .details_item h4{
    font-size: 20px;
    margin-top: 20px;
}
.item_detail .details_item button{
       border: none;
    outline: none;
    background-color: #FF9800;
    font-weight: bold;
    padding: 12px 17px;
    border-radius: 5px;
    margin: 30px 0 10px;
    /* font-size: 8px; */
    cursor: pointer;
    transition: 0.3s;
}
.item_detail .details_item button i{
  font-size: 16px;
}

.item_detail .details_item button:hover{
    scale: 1.1;
}
.item_detail .details_item .icons{
  display: flex;
      gap: 10px;
      width: 85%;
      /* background: #ddd; */
      height: 163px;
      justify-content: space-evenly;
      padding: 30px 0px;
      border-radius: 17px;
      box-shadow: 0px 0px 33px -22px black;
      margin-right: 53px;
      border: 3px solid #ddd;
      margin-top: 38px;
}
.icons div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 18%;
}
.icons div h3{
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
}
.item_detail .details_item .icons i {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #a1bbff80;
  text-align: center;
  line-height: 50px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: 0.3s;
  color: #022dad;
  font-size: 20px;
  align-content: center;
}
.item_detail .details_item .icons i:hover{
    background-color: transparent;
}
.img_item .big_img{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #eee;
    width: 77%;
    height: 572px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #eee;
    overflow: auto;
    border-radius: 11px;
}



/* start-comment */




.comment-box {
  margin-top: 70px;
  margin-bottom: 60px;
  }
  .comment-box .container{
    display: flex;
        justify-content: center;
    
        flex-direction: row-reverse;
  }

  .commentss{
    width: 60%;
  }
  #productStats{
    margin-left: 111px;
    width: 24%;
  }
  #totalComments{
    margin-top: 51px;
  text-align: end;
  font-weight: 600;
  font-size: 31px;
  font-family: "Readex Pro", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "HEXP" 0;
  color: #0d7760;
  }
.commentss h2{
    text-align: right;
    margin-top: 28px;
    direction: rtl;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}

  .comment-box input[type="text"] {
    padding: 8px;
    margin-bottom: 13px;
    border-bottom: 2.5px solid #9d9d9d;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    width: 54%;
    text-align: end;
    justify-self: end;
    height: 46px;
    font-size: 18px;
  }

  #button {
    padding: 9px 46px;
    background-color: #16a085;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    left: 86%;
    box-shadow: 2px 2px 6px -2px black;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    transition: 0.4s;
  }

  #button:hover {
    background-color: rgb(207, 90, 90);
    color: #535353;
  }

  .comments {
    margin-top: 30px;
    
  }

  .comment {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    /* background-color: #ecf0f1; */
    padding: 15px;
    border-radius: 8px;
    flex-direction: row-reverse;
    text-align: end;
    position: relative;
  }
.tkyyem{
  font-size: 26px;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    margin-top: 53px;
    color:#43439b ;
    text-align: end;
    display: none;
}
#starsStats{
  margin-top: 40px;
}

  .avatar {
       width: 44px;
    height: 44px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 12px;
  }

  .comment-content {
    flex: 1;
  }

  .comment-name {
       font-size: 16px;
    color: rgb(24 17 17);
    margin-bottom: 7px;
    font-family: "Readex Pro", serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
  }

  .comment-text {
    color: #000000;
    font-size: 15px;
    font-family: "Readex Pro", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    position: relative;
    right: -56px;
    margin: 5px 0px 0px;
    line-height: 23px;
  }
  .comment-stars{
        font-size: 17px;
    margin: 8px 0px;
  }
  #text {
    font-size: 18px;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    margin-top: 9px;
    margin-bottom: 9px;
    color: black;
    line-height: 24px;
}

  .comment-date {
    font-size: 14px;
    color: rgb(136 99 100);
  }

  .stars {
    direction: rtl;
    display: flex;
    gap: 7px;
    margin-bottom: 15px;
    justify-content: unset;
    align-items: baseline;
  }

  .star {
    font-size: 26px;
    color: #ccc;
    cursor: pointer;
    transition: 0.2s;
  }

  .star.selected {
    color: gold;
  }

  .rating-display {
    text-align: right;
    font-size: 0.9em;
    margin-bottom: 10px;
    color: #313131;
    font-size: 21px;
    margin-left: 7px;
    font-family: "Rubik", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
.hr-comment{
    margin-left: 60px;
    border: 0px;
    background: #bebfbf;
    width: 2px;
    height: 600px;
}
#hr{
  border: none;
    height: 3px;
    background: #5f5f5f;
    border-radius: 12px;
    margin: 30px 0px 20px;
}

  #loadMoreBtn {
    display: none;
    margin: 20px auto;
    text-align: center;
  }

  .rating-bar {
    display: flex;
    align-items: center;
    margin: 9px 0;
    direction: rtl;
  }

  .rating-bar .label {
    width: fit-content;
    font-size: 17px;
    font-weight: 700;
  }

  .rating-bar .progress {
flex: 1;
    background-color: #e5e7eb;
    height:8px;
    margin: 0 11px;
    border-radius: 5px;
    overflow: hidden;
}

  .rating-bar .progress-inner {
      height: 100%;
    background-color: #e4650f;
    width: 0%;
    transition: width 0.3s ease-in-out;
    border-radius: 9999px;
  }

  .rating-bar .count {
    width: 27px;
    font-size: 21px;
    font-family: sans-serif;
    font-weight: 600;
  }
  #usernameInput{
    display: none;
  }
  #star {
    font-weight: 900;
    color: #e4650f;
    font-size: 17px;
    margin: 5px 2px 4px;
}
#productStats h2{
    text-align: end;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 21px;
}
.most{
  font-size: 27px;
  padding: 10px 16px;
  border-radius: 10px;
  background: #292929;
  color: white;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.comment-reactions {
display: flex;
gap: 15px;
    font-size: 18px;
    position: absolute;
    bottom: -24px;
}
.comment-reactions button {
      font-family: 'Readex Pro';
background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
color: #886364;
    transition: transform 0.1s;
    display: flex;
    align-items: center;
    width: 40px;
    gap: 0.3rem;
}
.comment-reactions button:hover {
  transform: scale(1.2);
  color: #2c3e50;
}
.comment-score {
  font-weight: bold;
}









@media (max-width:1000px) {
    .item_detail .container{ 
        flex-direction: column;
        justify-content: flex-start;
      align-items: center;
    }
    .item_detail .img_item{
        width: 50%;
        margin-bottom: 40px;
    }
    .item_detail .details_item{
        width: 100%;
    }
}


@media (max-width:700px) {
    .item_detail .img_item{
        width: 90%;
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
        .item_detail .img_item .sm_imgs {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        margin: 0px 0px 30px;
    }
}



@media (max-width:500px) {
    body {
        padding-top: 135px;
    }
  .item_detail .img_item .sm_imgs{
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: visible;
  }
  .item_detail{
    padding-top: 0px;
  }
    .item_detail .details_item h1{
font-size: 20px;
      line-height: 29px;
      font-weight: 700;
    }
    .img_item .big_img{
        width: 100%;
        height: 340px;
        border-radius: 5px;
                margin-bottom: 10px;
    }
    .item_detail .img_item .big_img img {
        width:70%;
    }
    .item_detail .img_item .sm_imgs {
        margin-top: 20px;
                overflow: scroll;
    }
    .item_detail .img_item .sm_imgs img {
        width: 28%;
        height: 112px;
        margin-left: 9px;
    }
    .item_detail .details_item h6 {
    font-size: 16px;
    line-height: 25px;
}
    .item_detail .details_item .price p {
        font-size: 12px;
    }
    .item_detail .details_item button {

    padding: 11px 16px;
    }
    .price p span span {
        font-size: 35px;
    }
    .detils h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .item_detail .details_item h5 {
        font-size: 18px;
    }
        .stars i {
        color: #ff9531;
        font-size: 15px;
    }
    h5 span {
        font-size: 15px;
    }
    #cartBtn {
      margin: 12px 0px 20px;
      padding: 13px 24px;
      font-size: 12px;
    }
    .item_detail .details_item .icons {
        width: 100%;
        margin-top: 20px;
        margin-right: 0px; 
        height: 150px;
    }
    .item_detail .details_item .icons i {
        width: 52px;
        height: 52px;
        font-size: 17px;
    }
    .icons div h3 {
        font-size: 10px;
    }


.comment {
    padding: 15px 0px ;
      margin-bottom: 45px;
}
#star {
    font-weight: 900;
    color: #e4650f;
    font-size: 15px;
    margin: 5px 2px 2px;
}
    .comment-box {
      margin-top: 75px;
  }
    .comment-box .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
  }
  #productStats {
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
}
.tkyyem {
  font-size: 21px;
  margin-top: 21px;
  text-align: end;
}
.rating-bar .label {
  font-size: 18px;
  font-weight: 700;
}
.rating-bar .progress {
background-color: #e5e7eb;
        height: 10px;
        margin: 0 0px 0px 10px;
}
#starsStats {
  width: 100%;
  margin: auto;
}
.rating-bar {
  margin:7px 0px;
}
.rating-bar .count {
  width: 24px;
  font-size: 22px;
  text-align: center;
}
#hr {
  height: 2px;
  margin: 41px 0px 24px;
}
#productStats h2 {
  font-size: 20px;
}
.hr-comment {
  display: none;
}
.commentss {
  width: 100%;
  margin-top: 45px;
}
#totalComments {
  font-size: 22px;
}
.commentss h2 {
  margin-top: 22px;
  font-size: 20px;
}
.stars {
  gap: 5px;
  margin-top: 7px;
  margin-bottom: 20px;

}
.rating-display {
  font-size: 18px;
  margin-left: 9px;
}
.star {
  font-size: 28px;
}
.comment-box input[type="text"] {
  padding: 11px;
  margin-bottom: 17px;
  font-size: 16px;
  width: 94%;
  height: 40px;
  font-size: 15px;
}
#button {
  padding: 8px 38px;
  font-size: 17px;
  position: relative;
  left: 67%;
  margin-top: 4px;
  margin-bottom: 30px;
}
.comment-name {
  font-size:14px;
}
#text {
  font-size: 14px;
  line-height: 25px;
  width: 100%;
  margin-bottom: 10px;
}
.comment-date {
  font-size: 12px;
  width: 100%;
}
.avatar {
  width: 52px;
  height: 52px;
}
.comment-text {
        color: #000000;
        margin-bottom: 5px;
        font-size: 14px;
        right: -11px;
        width: 111%;
}
.most {
  font-size: 12px;
}
.tkyyem {
  margin-bottom: 30px;
}
.avatar {
         width: 40px;
        height: 40px;
        font-size: 19px;
}
.comment-reactions {
    display: flex;
    gap: 14px !important;
    font-size: 18px;
    position: absolute;
    bottom: -15px !important;
    right: -8px !important;
}
.share-menu {
    width: 200px !important;
}
.share-menu button img {
    width: 30px !important;
    margin-left: 8;
}
.share-menu button {
  width: 100%;
}
}

@media (max-width:400px) {
      .item_detail {
        padding-top: 25px;
    }
        .item_detail .details_item h1 {
        margin-top: 20px;
    }
    .item_detail .details_item h6 {
        font-size: 14px;
        line-height: 22px;
        color: #373737;
    }
  #cartBtn {
    margin: 12px 0px 18px;
    padding: 11px 24px;
    font-size: 10px;
}
  .item_detail .details_item .nono {
    font-size: 14px;
  }
  .item_detail .img_item .big_img img {
    width: 85%;
}
.item_detail .img_item .sm_imgs img {
  width: 28%;
  height: 91px;
  margin-left: 8px;
  padding: 0px;
  }
.tkyyem{
  font-size: 19px;
}
#starsStats {
  width: 100%;
  margin: auto;
}
.item_detail .details_item .icons i {
  width: 45px;
  height: 45px;
  font-size: 14px;
}
.icons div h3 {
  font-size: 9px;
}
.item_detail .details_item .icons {
  height: 135px;
}
}


@media (max-width:350px) {
    .comment-text {
        font-size: 14px;
        right: -22px;
        width: 111%;
    }
}





@media (max-width:320px) {
  body {
    padding-top: 186px;
}
    .item_detail .details_item h1 {
      font-size: 16px;
      line-height: 31px;
      margin-top: 15px;
    }
    .item_detail .details_item h5 {
        font-size: 16px;
    }
    .item_detail .details_item .icons i {
        width: 45px;
        height: 45px;
        font-size: 16px;
    }
    .icons div h3 {
        font-size: 9px;
    }
    .item_detail .details_item .icons {
        height: 135px;
    }
    .comment-name {
      font-size: 10px;
  }
  .comment-text {
    font-size: 12px;
}
#text {
  font-size: 12px;
  line-height: 21px;
  width: 122%;
  margin-bottom: 9px;
}
.comment-date {
  font-size: 10px;
  width: 122%;
}
}














.share-btn {
    padding: 10px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.share-menu {
    display: none;
     margin-top: 10px;
    width: 20%;
    border: 1px solid #b1b1b1;
    padding: 5px 5px;
    border-radius: 5px;
}


.share-menu button {
     border: none;
    outline: none;
    background-color: #f1f1f1 !important;
    font-weight: bold;
    padding: 12px 17px;
    border-radius: 5px;
    margin: 0px 0px !important;
    cursor: pointer;
    transition: 0.3s;
     padding: 8px 9px !important;
    display: flex;
    align-items: center;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "HEXP" 0;
    color: rgb(63, 63, 63);
}
.share-menu button img{
  width: 22%;
  margin-left: 10px;
}
.share-menu p{
      font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: black;
    margin: 2px 0px 6px;
}
.share-menu hr{
  margin: 5px;
}
.share-menu button :hover{
   scale: 0 !important;
}

.share-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.share-box a {
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
button.voted {
   fill: none;
  stroke: currentColor;
      stroke-width: 17px;;
  transition: fill 0.3s ease;
}







input, select, button {
border: none;
    outline: none;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
    padding: 6px 14px;
    border-radius: 4px;
}
dialog form p{
      font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}


.fav-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.fav-btn i {
  /* color: #ff6564; */
  font-size: 22px;
  transition: 0.3s;
}

.fav-btn.active i {
  color: #ff6564;
}
.fav-btn.active {
  background-color: #ffebeb !important;
  border: 1px solid #ff6564 !important;
}
